.button {
  position: absolute;
  bottom: 0;
  right: 0;
  border: none;
  font-size: 20px;
  padding: 10px;
  border-radius: 50px;
  transition: 0.2s;
  cursor: pointer;
  margin: 10px;
  box-shadow: #1f1f1f;
}

.light {
  background-color: #dbdbdc;
}

.dark {
  background-color: #1f1f1f;
}
