.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 30px;
}

.switch > input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 50px;
}

.slider::before {
  position: absolute;
  content: "";
  text-align: center;
  height: 20px;
  width: 20px;
  left: 5px;
  bottom: 5px;
  border-radius: 50px;
  background-color: #fff;
  transition: transform 0.3s;
}

.switch > input:checked + .slider::before {
  transform: translateX(29px);
}

.light {
  border-radius: 50px;
  background-color: #dbdbdc;
}

.dark {
  border-radius: 50px;
  background-color: #1f1f1f;
}
