.image {
  border-radius: 50px;
  object-fit: cover;
}

.popup__head {
  display: flex;
  align-items: center;
  gap: 10px;
}

.popup__head > div > h2 {
  font-size: 15px;
}

.popup__body {
  padding: 10px 0;
  margin: 5px 0;
  font-size: 13px;
  text-align: center;
}

.popup__footer {
  font-size: 20px;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.popup__footer > a {
  color: #000;
}

.link {
  color: #fff;
}