.modal {
  position: absolute;
  border-radius: 15px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 250px;
  max-width: 500px;
  width: 40%;
  height: fit-content;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
  animation: fadeInFromNone 0.3s ease-out;
}

.modal__body {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
  margin-bottom: 30px;
}

.modal__body > h1 {
  font-size: 4rem;
  margin-bottom: 20px;
}

.modal__body > p {
  text-align: center;
  margin-bottom: 30px;
}

.modal__body > div {
  display: flex;
  flex-direction: column;
}

.modal__body > div > a {
  color: #fff !important;
  border: none;
  padding: 10px 15px;
  font-weight: 500;
  border-radius: 50px;
  margin: 5px;
  text-decoration: none;
  cursor: pointer;
}

.facebook {
  background-color: #4267b2;
}

.twitter {
  background-color: #1da1f2;
}

.instagram {
  background: radial-gradient(
    circle at 30% 130%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
}

.light {
  color: #111;
  background-color: #eee;
}

.dark {
  color: #eee;
  background-color: #111;
}

.close {
  display: flex;
  justify-content: flex-end;
  right: 0;
  margin: 10px;
  cursor: pointer;
}

@keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}
