@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.mapboxgl-control-container {
  display: none !important;
}

.marker {
  font-size: 12px !important;
  cursor: pointer !important;
}

.mapboxgl-popup {
  animation: fadeInFromNone 0.3s ease-out !important;
}

.mapboxgl-popup-tip {
  display: none !important;
}

.mapboxgl-popup-content {
  padding: 10px !important;
  border-radius: 12px !important;
  box-shadow: none !important;
  color: #fff !important;
  background-color: rgba(0, 0, 0, 0.8) !important;
}

@keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}
