.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  padding: 25px;
  height: 60px;
  z-index: 100;
}

.logo {
  font-weight: 800;
}

.controls {
  font-size: 20px;
  display: flex;
  flex-direction: row;
  gap: 3px;
}

.light {
  color: #1f1f1f;
}

.dark {
  color: #dbdbdc;
}

@media only screen and (max-width: 425px) {
  .logo {
    font-size: 15px;
  }

  .controls {
    align-items: center;
    font-size: 15px;
  }
}
